<p id="notice"><%= notice %></p>

<p>
  <strong>Short url:</strong>
  <%= @shortend_url.short_url %>
</p>

<p>
  <strong>Original url:</strong>
  <%= @shortend_url.original_url %>
</p>

<%= link_to 'Back', shortend_urls_path %>
